<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <!-- 为这个mapper指定一个唯一的namespace
	命名空间应该是对应接口的包名+接口名  -->
<mapper namespace="com.gxnu.study.dao.UserDao">
<!-- 在delete标签中编写查询的SQL语句， 设置delete标签的id属性为deleteUserById，id属性值必须是唯一的，不能够重复 使用parameterType属性指明查询时使用的参数类型，resultType属性指明查询返回的结果集类型 
		resultType="com.gxnu.study.bean.User"就表示将查询结果封装成一个User类的对象返回 User类就是users表所对应的实体类 -->
	<delete id="deleteUserById" parameterType="int">
		delete from user where id = #{id}
	</delete>
</mapper>